{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}
<div class="container mt-5">

    <div class="container text-center mt-5">
        

        <div class="row">
            <div class="col-md-8 mt-2 d-flex">

                <h2 class="fst-italic ">Productos de la categoría </h2>
            </div>
            {% if perms.Inventario.add_product %}
            <div class="col-md-4 mt-2 d-flex justify-content-end">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#creacion"><i class="fas fa-plus"></i>
                    Crear Producto
                  </button>
            </div>
            {%endif%}
        </div>
        <div class="table-responsive mt-4">
            <table id="tabla_productos" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr >
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        {% if perms.Inventario.change_product or perms.Inventario.delete_product%}
                        <th>Acciones</th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Creacion -->
<div class="modal fade" id="creacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="creacion">Creacion de Producto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" id="form_creacion" >
            {% csrf_token %}
            <div class="modal-body">
                {{form.as_p}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" >Confirmar</button>
            </div>
        </form>
        </div>
      </div>
  </div>




{% endblock content%}
{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/productos/index.js' %}"></script>


{% endblock extrajs %}