{% extends "base.html" %}
{% load static %}
{% block css %}  <link rel="stylesheet" href="{%static 'css/listaProductos.css'%}"> 
{% endblock css %}

{% block content %}
<div class="container mt-5">

    <div class="container text-center mt-5">
        <h1 class="fst-italic text-decoration-underline">Productos de la categoría {{ categorias.name }}</h1>

        <div class="row">
            <div class="form-group col-md-8 mt-2 d-flex justify-content-center align-items-center">
                <input type="text" id="buscador" class="form-control" placeholder="Buscar por nombre">
            </div>
            {% if perms.Inventario.add_product %}
            <div class="col-md-4 mt-2 d-flex justify-content-end">
                <a href="{% url 'crearProducto' %}" class="btn btn-3d  btn-success"><i class="fas fa-plus"></i> Crear Producto</a>
            </div>
            {%endif%}
        </div>
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-hover table-striped">
                <thead class="thead-red ">
                    <tr >
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Precio</th>
                        {% if perms.Inventario.change_product or perms.Inventario.delete_product%}
                        <th>Acciones</th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.bar_code }}</td>
                        <td>{{ producto.name }}</td>

                        <td>
                            {% if producto.imagen %}
                            <img src="{{producto.imagen.url}}" alt="" width="50" height="auto">
                            {%endif%}
                        </td>
                        <td>${{ producto.price_sold }}</td>
                        {% if perms.Inventario.change_product or perms.Inventario.delete_product%}
                        <td>
                            <div class="form-group" >
                                {% if perms.Inventario.change_product %}
                                <a href="{% url 'editarProducto' producto.id %}" class="btn btn-3d btn-warning">
                                    Modificar <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                {%endif%}
                                {% if perms.Inventario.delete_product %}
                                <!-- <button type="submit"  class="btn btn-3d btn-danger formulario-eliminar" >
                                    <i class="fa-regular fa-trash-can"></i>
                                </button> -->
                                <a href="{% url 'eliminarProducto' producto.id %}" class="btn btn-3d btn-danger">
                                    Eliminar <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                {%endif%}
                                
                            </div>
                        </td>
                        {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- <script>
    function eliminarProducto(id){
        console.log(id)
        
        Swal.fire({
        title: "Esta seguro que desea eliminarlo?",
        text: "El cambio es irreversible",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Estoy seguro"
        }).then(function(result) {
        if (result.isConfirmed) {
            window.location.href = "/productos/eliminado/"+id+"/"
       
        }
        });
    };
    
</script> -->



{% endblock content%}