{% extends "base.html" %}
{% load static %}
{%block nav%}{%endblock nav%}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mantenedorProducto.css' %}">
{% endblock css %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="my-4">
    {% csrf_token %}

    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">Nombre</label>
        {{ form.name }}
    </div>

    <div class="mb-3">
        <label for="{{ form.run.id_for_label }}" class="form-label">RUN</label>
        {{ form.run }}
    </div>

    <div class="mb-3">
        <label for="{{ form.cellphone.id_for_label }}" class="form-label">Número de Teléfono</label>
        {{ form.cellphone }}
    </div>

    <div class="mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label">Correo Electrónico</label>
        {{ form.email }}
    </div>

    <div class="d-flex justify-content-between">
        <a href="{% url 'proveedores' %}" class="btn btn-3d btn-dark">Cancelar</a>
        <button type="submit" class="btn btn-3d btn-primary">Guardar</button>
    </div>
</form>
{% endblock content %}