<!-- confirmar_venta.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Confirmar Venta</title>
</head>
<body>
    <h1>Confirmar Venta</h1>

    {% if detalles_temporales %}
        <ul>
            {% for detalle in detalles_temporales %}
                <li>Producto: {{ detalle.producto_nombre }}, Subtotal: ${{ detalle.subtotal }}</li>
            {% endfor %}
        </ul>

        <form method="post" action="{% url 'confirmar_venta' %}">
            {% csrf_token %}
            <button type="submit">Confirmar Venta</button>
        </form>
    {% else %}
        <p>No se ha escaneado ningún producto.</p>
    {% endif %}

    <a href="{% url 'escanear_producto' %}">Escanear otro producto</a>
</body>
</html>
