{%extends 'base.html'%}
{% load static %}
{%block css%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{% static 'css/panelVenta.css'%}">
{%endblock css%}
{%load static%}

{%block content%}

<!-- <div class="container mt-5"> -->

<div class="container text-center mt-5">


    <div class="row">
        <div class="col-md-7 mt-2 d-flex">

            <h2 class="fst-italic ">Listado de Venta </h2>

        </div>
        <div class="col-5 mt-2 d-flex">
            <form method="get" action="{% url 'listaVenta'%}" class="mb-3">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <input type="text" name="bar_code" id="bar_code" placeholder="Codigo de barras">
                        <div id="mensaje" style="display: none; color: red;"></div>

                    </div>
                </div>
            </form>
        </div>

        <div class="table-responsive col-7 mt-4">
            <table id="tabla_venta" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Codigo</th>
                        <th>Stock</th>
                        <th>Precio</th>

                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-5">
            <h2 class="text-center">Calculadora</h2>
            <div class="container mt-1">
                <div class="row">
                    <div class="col">
                        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                            <table id="tabla_subtotal" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio Unitario</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="border p-2 mt-2">
                            <h4>Total: <span id="totalCalculadora">{{ total }}</span></h4>
                        </div>

                    </div>
                </div>
            </div><!-- termina calculadora -->

            <!-- PIE DE LA CALCULADORA -->
            <div class="row mt-3">
                <div class="col-6">
                    <p>Selecciona el método de pago:</p>
                    <select name="metodoPago" id="metodoPago" class="form-select">
                        <option value="efectivo">Efectivo</option>
                        <option value="tarjeta">Tarjeta</option>
                        <option value="tarjeta">Transferencia</option>
                    </select>
                </div>
                <div class="col-6">
                    <p>Selecciona el tipo de documento:</p>
                    <select name="tipoDocumento" id="tipoDocumento" class="form-select">
                        <option value="boleta">Boleta</option>
                        <!-- <option value="factura">Factura</option> ELIMINADO TEMPORALMENTE -->
                    </select>
                </div>
            </div>
            <div  id="ventaForm" class="text-center mt-3">
                <!-- Formulario de venta -->
                <form id="formularioVenta" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="venta" value="1"/>
                    <input type="hidden" id="producto_id" name="producto" />
                    <input type="hidden" id="bar_code" name="bar_code" />
                    <input type="hidden" id="cantidad" name="cantidad" />
                    <input type="hidden" id="price_sold" name="precio" />

                    <!-- Otros campos del formulario aquí -->
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <button type="submit" class="btn btn-danger">Cancelar</button>
                </form>

                
            </div>

        </div>
    </div>
</div>
</div>





<!-- MODAL PARA FACTURA
    <div class="modal fade" id="modalDatosEmpresa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalDatosEmpresaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDatosEmpresaLabel">Datos de la empresa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nombreEmpresa" class="form-label">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="nombreEmpresa" required>
                    </div>
                    <div class="mb-3">
                        <label for="direccionEmpresa" class="form-label">Dirección de la empresa</label>
                        <input type="text" class="form-control" id="direccionEmpresa" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="guardarDatosEmpresa()">Guardar</button>
            </div>
        </div>
    </div>
    </div> -->
</div>

<!-- </div> aqui termina ese listado  -->


{%endblock content%}
{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="{%static 'js/panelVenta.js'%}"></script>

{% endblock extrajs %}