{% with id=widget.attrs.id %}
<div class="row">
    <div class="col-md-4">
        <select name="{{ widget.name }}_day" id="{{ id }}_0" class="form-control">
            {% for group, group_choices in widget.choices %}
                {% if group %}
                    <optgroup label="{{ group }}">
                {% endif %}
                {% for choice in group_choices %}
                    <option value="{{ choice.0 }}"{% if choice.0 == widget.value.0 %} selected="selected"{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
                {% if group %}
                    </optgroup>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <select name="{{ widget.name }}_month" id="{{ id }}_1" class="form-control">
            {% for group, group_choices in widget.choices %}
                {% if group %}
                    <optgroup label="{{ group }}">
                {% endif %}
                {% for choice in group_choices %}
                    <option value="{{ choice.0 }}"{% if choice.0 == widget.value.1 %} selected="selected"{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
                {% if group %}
                    </optgroup>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <select name="{{ widget.name }}_year" id="{{ id }}_2" class="form-control">
            {% for group, group_choices in widget.choices %}
                {% if group %}
                    <optgroup label="{{ group }}">
                {% endif %}
                {% for choice in group_choices %}
                    <option value="{{ choice.0 }}"{% if choice.0 == widget.value.2 %} selected="selected"{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
                {% if group %}
                    </optgroup>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
{% endwith %}
